/* Silver Linings style sheet
   Authors: Rachel Zoe Silver, Lukas Jones
   Date: 10/23/2014
*/

/* ----------- general Styles ---------- */

html, body, header, ul, li, p.heading, h1 {
	padding: 0;
	margin: 0;
}

body {
	background: white;
	color: black;
	
}

a {
	text-decoration: none;
}

/*  --------------- Title Style  -------------------*/

header {
	width: 100%;
	background: lightgray;
	
	top: 0;

}

h1 {
	color: black;
	float: left;
	margin: 4px 0 0 4px;	
}

p.heading {
	color: black;
	float: left;
	clear: left;
	font-size: .8em;
	padding-bottom: 10px;
	margin-left: 4px;

}

div.header {
	margin: auto auto;
	width: auto;
	
}

/*------------- Navigation Style -----------  */


ul.nav {
	list-style-type: none;
	float: left;
}

.nav li {
	float: left;
	padding: 0 5px;
	font-size: .75em;
	margin-left: 20px;
}

.nav li a {
	color: black;
}

.nav li a:hover {
	color: white;
}




/*  --------------- Body Style --------------------- */

section.wrap {
	margin: auto;
	width: 820px;
	text-align: justify;

}

p.body {
	width: 500px;
	line-height: 1.5em;
	
}
section p:first-child:first-letter { float: left; 
	color: #903; 
	font-size: 75px; 
	line-height: 60px; 
	padding-top: 4px; 
	padding-right: 8px; 
	padding-left: 3px;
}
/*span.first-letter {
	float: left;
	font-size: 3.26em;
	line-height: 60px;
	font-weight: bold;
	margin: 0.205em 0.153em 0 0;
}*/

/*  -----------------  Clear Fix  ----------------  */

.group:before, .group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	*zoom: 1;
	margin: auto;
	width: 820px;
}

/*     Media Querries   */

@media screen and (max-width: 480px) {
	body {
		background: red;
		
	}
}

@media screen and (max-width: 768px) {
	header {
		text-align: center;
	}
}
